<div class="jumbotron page-index">
  <div class="row">
    <div class="col-8">
      <h1 class="display-1">
        Hello, world!
      </h1>
    </div>
    <div class="col-4 text-right">
      <h1 class="display-1 app-version">
        <%= version %>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <small class="text-muted text-uppercase build-info">
      <%= environment %>
      &nbsp;|&nbsp;
      Build - <%= build %></small>
  </div>
</div>
