<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>RB2019</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="stylesheet" href="//bootswatch.com/4/solar/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="//bootswatch.com/_assets/css/custom.min.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body class='container'>
<%= yield %>
</body>
</html>
